@import "variables";
@import "mixins";

/**********************************************************************************************
General 
***********************************************************************************************/
body {
  background: $grey-lightest;
  color: $grey-dark;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}

.panel {
  width: 100%;
  border-radius: 0px;
  border: 4px $blue-main solid;
  box-shadow: 0 4px 1px rgba(0, 0, 0, .1);

}

.btn {
  border-radius: 0;
  @include all-transition(.35s);
}

.btn-primary {
  background: $blue-mid;
}

.btn-primary:hover,
.btn-primary:focus {
  background: $blue-darkest;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.list-group {
  .list-group-item:first-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

/**********************************************************************************************
Header
***********************************************************************************************/
.freefair-header {
  background: $white url('../img/Banner.jpg') no-repeat top right;
  background-size: cover;

  h1 {
    margin: 50px 0px;
    color: $red-main;
    text-align: right;
    font-style: italic;

    @include tablet-and-up {
      margin-right: 100px;
    }
  }
}

/**********************************************************************************************
Navbar
***********************************************************************************************/
.navbar-freefair {
  border-radius: 0px;
  background: $white;
  border: 6px $red-main solid;
  border-right-width: 0;
  border-left-width: 0;

  .navbar-nav {
    > li 
      > a {
          border: 0px $blue-main solid;
          color: $blue-main;
          font-family: 'Josefin Sans', sans-serif;
          @include all-transition(.35s);

          &:hover {
            color: $red-main;
            background: $white;
          }

          &.active {
            @include tablet-and-up {
              border-bottom: 6px $red-main solid;
            }
            color: $red-main;
          }

          @include tablet-and-up {
            padding-top: 19px;
            padding-bottom: 11px;
          }
        }
  }

  .navbar-toggle {
    border: $blue-main 2px solid;
    border-radius: 0;
    @include all-transition(.35s);
    background: $white;

    &:hover, &:focus {
      background: $blue-main;

      .icon-bar {
        border: $white 2px solid;
      }
    }

    .icon-bar {
      border-radius: 0;
      border: $blue-main 2px solid;
      @include all-transition(.35s);
    }
  }
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  color: $red-main;
  background: #fff;
}

.dropdown-menu {
  border: 6px $red-main solid;
  border-radius: 0;
  top: 56px;

  > li
    > a {
      font-family: 'Josefin Sans', sans-serif;
      color: $blue-main;

      &:hover,
      &:focus {
        color: $red-main;
        background: $white;
      }
    }
}

/**********************************************************************************************
Block
***********************************************************************************************/
.block-title {
  margin: 30px 30px;
  font-weight: 700;
  color: $grey-dark;
}

.text-content {
  margin: 10px 30px 30px;
}

/**********************************************************************************************
Accordion
Styling by Shehab Eltawel
https://codepen.io/shehab-eltawel/pen/dYwOgX
***********************************************************************************************/

.accordion-group {
  border: 1px 1px 0 1px solid transparent;
  box-shadow: 0 4px 1px rgba(0, 0, 0, .2);

  .panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    background: none;
    box-shadow: none;
  }

  .panel:last-child {
    border-bottom: none;
  }

  .panel-group .panel {
    border-radius: 0;
  }


  .panel-heading {
    border-radius: 0;
    border: none;
    color: $white;
    padding: 0;
    background: $blue-darkest;
  }

  .accordion-heading-0 {
    background-color: $blue-main;
  }

  .accordion-heading-1 {
    background-color: #434e89;
  }

  .panel:last-child .panel-heading {
    border-bottom: none;
  }

  .panel-title a {
    display: block;
    color: #fff;
    padding: 15px;
    position: relative;
  }

  /* #bs-collapse icon scale option */

  .panel-heading a:before {
    content: '\f0fe';
    position: absolute;
    font-family: 'FontAwesome'; 
    right: 5px;
    top: 10px;
    font-size: 24px;
    transition: all 0.5s;
    transform: scale(1);
  }

  .panel-heading.active a:before {
    content: ' ';
    transition: all 0.5s;
    transform: scale(0);
  }

  .panel-heading a:after {
    content: ' ';
    font-size: 24px;
    position: absolute;
    font-family: 'FontAwesome';
    right: 5px;
    top: 10px;
    transform: scale(0);
    transition: all 0.5s;
  }

  .panel-heading.active a:after {
    content: '\f146';
    transform: scale(1);
    transition: all 0.5s;
  }
}

/**********************************************************************************************
General 
***********************************************************************************************/
#contact-form {
  .btn {
    margin-top: 10px;
  }
}
/**********************************************************************************************
InfoBlock
***********************************************************************************************/
.panel-I {
  .text-content {
    margin: 0;
  }

  .panel-infoblock {
    border: none;
    box-shadow: none;
  }

  .panel-content {
    border: none;
    box-shadow: none;

    .tab-content {
      padding: 10px;

      @include tablet-and-up {
        padding: 40px;
      }

      .flex-block {
        padding: 0 15px 30px 15px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 10px;
        }
      }
    }

    .nav-tabs.nav-justified > li > a {
      font-size: 12px;
    }

  }

  .nav-tabs.nav-justified > li > a {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    @include generic-transition(background .35s, color .35s);
    background: $blue-main-70;
    color: $white;
    border-top-width: 0;
    border-radius: 0;
  }

  .nav-tabs.nav-justified > li > a:hover {
    color: $red-main;
    background: $blue-main-50;
  }

  .nav-tabs.nav-justified > li > a,
  .nav-tabs.nav-justified > li.active > a,
  .nav-tabs.nav-justified > li.active > a:hover {
    border: none;

    @include tablet-and-up {
      border: 4px $blue-main solid;
      border-top-width: 0px;
    }
  }

  .nav-tabs.nav-justified > li.active > a,
  .nav-tabs.nav-justified > li.active > a:hover {
    border-left-width: 0px;
    color: $white;
    background: $blue-main;
  }

  .panel-content {
    .nav-tabs.nav-justified > li > a {
      color: $blue-main;
      background: $blue-main-30;
    }

    .nav-tabs.nav-justified > li > a:hover {
      color: $red-main;
      background: $blue-main-20;
    }

    .nav-tabs.nav-justified > li.active > a,
    .nav-tabs.nav-justified > li.active > a:hover {
      background: $white;
      color: $red-main;
      border-color: $white;
    }

    .nav-tabs.nav-justified > li.active + li > a {
      @include tablet-and-up {
        border-left-width: 4px;
      }
    }
  }

  .nav-tabs.nav-justified > li + li > a {
    @include tablet-and-up {
      border-left-width: 0;
    }
  }

  .nav-tabs.nav-justified > li:last-child > a,
  .nav-tabs.nav-justified > li:last-child > a:hover {
    @include tablet-and-up {
      border-right-width: 0;
    }
  }

  .nav-tabs.nav-justified > li:first-child > a,
  .nav-tabs.nav-justified > li:first-child > a:hover {
    @include tablet-and-up {
      border-left-width: 0;
    }
  }
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .flex-block {
    display: inline-block;

    &.full {
      width: 100%;
    }

    &.half {
      width: 100%;

      @include desktop {
        width: 50%;
      }
    }

  }
}
/**********************************************************************************************
StatePages
***********************************************************************************************/
.state-title {
  background: $blue-main-30;
  
  h2 { 
    color: $blue-main;
  }
}

.state-checkboxes {
  .panel-H {
    border: 4px $red-main solid;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 18px;
      }
    }

    .issues-in-this-state li {
      background: url('../img/Star-Red.jpg') no-repeat left top;
      background-size: 20px 20px;
      display: block;
      padding-left: 25px;
    }

    .achievements-in-this-state li {
      background: url('../img/Star-Blue.jpg') no-repeat left top;
      background-size: 20px 20px;
      display: block;
      padding-left: 25px;
    }
  }
}
